<ion-content>

  <p class="description">Bienvenue sur Clash Royale Tracker, retrouvez toutes vos statistiques de combat, votre journal d'activité et bien plus encore !</p>


  <div class="player-id">    
    <h2 class="player-title">Rentrez l'id du joueur</h2>
    <ion-input #input type="string" placeholder="#id"></ion-input>
  </div>



  <div class="button" (click)="setPlayerId(input.value)">
    <div class="couche1">	
      <div class="couche2">
        <div class="couche23">
          <div class="couche3">
              <span class="battle">Découvrir</span>
              <div class="couche5">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img src="../../assets/imgs/valkyrie.png" alt="firecracker" class="person">


</ion-content>
