<div [ngClass]="{'loading': true, 'visible': isLoading | async}" class="loading">
  <img src="../../assets/imgs/baby_dragon.png" alt="dragon">
  <div class="loader__wrap" role="alertdialog" aria-busy="true" aria-live="polite" aria-label="Loading…">
  </div>
  <h3>Chargement...</h3>
</div>