ion-tab-bar, ion-tab-button{
    background-color: #353b48 !important;
}

ion-tab-button {
    img {
        width: 35px;
        position: absolute;
    }
}


ion-tab-button:active {
    background-color: #2d3036 !important;
}

.tab-selected {
    background-color: #2d3036 !important;
}