<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/imgs/home.png" alt="home">
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/imgs/battle.png" alt="battle">
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/imgs/chest.png" alt="chest">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>