<ion-content [fullscreen]="true">

  <ion-icon class="refresh" (click)="getPlayersInformations()" name="refresh-outline"></ion-icon>

  <div class="header">
    <img src="../../assets/imgs/crown-blue.png" alt="battle">
    <h2>Ici, c'est match !</h2>
    <img src="../../assets/imgs/crown-red.png" alt="battle">
  </div>
  <ng-container *ngIf="battles">
    <ng-container  *ngFor="let battle of battles">
      <div class="card"*ngIf="battle !== null && battle.player1">
        <div class="remove" (click)="removeMatch(battle.player1.id + '/' + battle.player2.id)">
          x
        </div>
        <ng-container >
          <div
            [ngClass]="{'header-card': true, 'win': true, 'lose': false }">
            <div
              [ngClass]="{'crown-container': true, 'win-c': true, 'lose-c': false }">
              <img class="blue-crown" src="../../assets/imgs/crown-blue.png" alt="blue crown">
              <img class="red-crown" src="../../assets/imgs/crown-red.png" alt="red crown">
              <div class="score">
                <h2>{{battle.player1.score}} - {{battle.player2.score}}</h2>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="players-container">
              <div class="player">
                <img src="https://royaleapi.github.io/cr-api-assets/badges/Bolt_02.png"
                  alt="badge">
                <div class="name team">
                  <h2 class="player1">{{battle.player1.name}}</h2>
                  <p class="clan">{{battle.player1.clan}}</p>
                  <div class="trophy">
                    <img src="../../assets/imgs/trophy.png" alt="trophy">
                    <p>{{battle.player1.trophy}}</p>
                  </div>
                </div>
              </div>
              <img class="battle" src="../../assets/imgs/battle.png" alt="badge">

              <div class="player player-2">
                <div class="name opponent">
                  <h2 class="player2">{{battle.player2.name}}</h2>
                  <p class="clan">{{battle.player2.clan}}</p>
                  <div class="trophy">
                    <img src="../../assets/imgs/trophy.png" alt="trophy" class="opponent">
                    <p>{{battle.player2.trophy}}</p>
                  </div>
                </div>
                <img src="https://royaleapi.github.io/cr-api-assets/badges/Bolt_02.png"
                  alt="badge">
              </div>
            </div>
          </div>
        </ng-container>
      </div>
  </ng-container>
  </ng-container>

  <div class="add-players">

    <div class="flex">
      <ion-input type="string" #input placeholder="Joueur 1"></ion-input>
      <ion-input type="string" #input2 placeholder="Joueur 2"></ion-input>
    </div>


    <ion-button class="btn" (click)="checkPlayer(input.value, input2.value)">Ajouter un match</ion-button>

  </div>

  <img class="person" src="../../assets/imgs/firecracker_dl.png" alt="dragon">
  <img class="person2" src="../../assets/imgs/wizard_dl.png" alt="dragon">

</ion-content>