ion-content {
    --background: url("../../assets/imgs/ui-tex-2.png");
    font-family: Supercell, 'regular', sans-serif;
}



.header {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 3em;
        height: 3em;
    }

    h2 {
        margin: 0 1em 0 1em;
        font-family: Supercell, 'regular', sans-serif;
        color: white;
        text-align: center;
    }
}

.card {
    width: 95%;
    background-color: #FDEFFF;
    border-radius: 8px;
    border: solid 2px #bdc3c7;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    animation: fadein 1s;

    .win {
        background-color: #69CDF5;
    }

    .lose {
        background-color: #E93B6A;
    }

    .win-c {
        background-color: #0E68A9;
    }

    .lose-c {
        background-color: #a90e0e;
    }

    .header-card {
        padding: 10px 0 10px 0;
        border-radius: 7px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .crown-container {
        border-radius: 3px;
        position: relative;
        width: 50%;
        margin: auto;

        img {
            width: 3em;
        }

        .score {
            color: white;

            h2 {
                margin: 0;
                width: 100%;
                text-align: center;
                word-spacing: 10px;
            }
        }

        .blue-crown {
            position: absolute;
            top: -0.5em;
            left: -1em;
        }

        .red-crown {
            position: absolute;
            top: -0.5em;
            right: -1em;
        }
    }

    .container {
        background-color: #fffdff;
        border-radius: 0px 0px 8px 8px;
    }

    .players-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        padding-top: 1em;

        .battle {
            width: 3em;
            height: 3em;
        }

        .player {
            display: flex;
            width: 50%;

            img {
                width: 1.5em;
                height: 1.5em;
            }

            

            .team {
                align-items: flex-start;
            }

            .name {
                margin-left: 0.5em;
                display: flex;
                flex-direction: column;
                flex: 1;

                .player1 {
                    color: #2079DC;
                    font-size: 15px;
                    margin: 0;
                }

                .player2 {
                    color: #CC3B89;
                    font-size: 15px;
                    margin: 0;
                }

                .clan {
                    color: gray;
                    font-size: 10px;
                    margin: 0;
                }

                .trophy {
                    background-color: rgba(0, 0, 0, 0.6);
                    border-radius: 5px;
                    color: white;
                    position: relative;
                    padding: 2px 1px 2px 5px;
                    margin-top: 0.2em;
                    max-width: 4em;
                    min-width: 3em;

                    p {
                        margin: 0;
                        font-size: 10px;
                        text-align: center;
                        margin-top: 1px;
                    }

                    img {
                        width: 1em;
                        height: 1em;
                        position: absolute;
                        top: 0;
                        left: -6px;
                    }

                    .opponent {
                        position: absolute;
                        right: -6px;
                        left: inherit;
                    }
                }
            }

            .opponent {
                align-items: flex-end;

                .trophy {
                    padding: 2px 5px 2px 1px;
                }
            }
        }

        .player-2 {
            .name {
                margin: 0;
                margin-right: 0.5em;
                text-align: right;
            }
        }
    }

    .cards-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;


        .card-content {
            display: flex;
            flex-wrap: wrap;
            max-width: 50%;

            .deck-card {
                margin: 3px;              
                width: calc(100% * (1/4) - 8px - 1px);
            }
        }
    }

    .trophy-win {
        display: flex;
        align-items: center;
        padding: 10px;

        img {
            width: 1.5em;
            height: 1.5em;
        }

        p {
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
            margin-left: 0.5em;
        }
    }

    .w {
        color: #69CDF5;
    }

    .l {
        color: #E93B6A;
    }
}


.person {
    position: fixed;
    top: 0vh;
    left: -5vw;
    z-index: -2;
}

.person2 {
    position: fixed;
    width: 20em;
    bottom: -5vh;
    right: 5vw;
    z-index: -2;
}

.add-players {
    width: 90%;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 2em;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ion-input {
        background-color: #FDEFFF;
        border-radius: 8px;
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-family: Supercell, 'regular', sans-serif;
        margin: 0;
    }

    ion-input:first-child {
        margin-right: 5px;
    }

    ion-input:last-child {
        margin-left: 5px;
    }
    ion-button {
        --background: #09CC48;
        font-family: Supercell, 'regular', sans-serif;
    }

    .btn {
        background-color: #09CC48;
        margin: auto;
        display: block;
        margin-top: 10px;
    }

}

.refresh {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #69CDF5;
    border-radius: 50%;
    padding: 5px;
    z-index: 10;
    transition: all ease-in-out .1s;
}

.refresh:active {
    transform: scale(1.09);
}

.remove {
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
    background-color: #E93B6A;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 9px;
    transition: all ease-in-out .1s;
}

.remove:active {
    transform: scale(1.09);
}

@keyframes fadein {
    from {
        opacity:0;
        margin-top: 5em;
    }
    to {
        opacity:1;
        margin-top: 2em;
    }
}