ion-content {
    --background: url("../../assets/imgs/home-back.png") no-repeat center center / cover;
}

body {
    font-family: Supercell, 'regular', sans-serif;
}

p, h2, h3, span {
    font-family: Supercell, 'regular', sans-serif;
}

.header {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 10px;

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .name {
        margin-left: 10px;
        min-width: 9em;

        p {
            margin: 0;
            margin-top: 10px;
        }
        .player {
            color: white;
            font-size: 15px;
            font-weight: bold;
        }

        .clan {
            margin-top: 2px;
            color: #FFFADA;
            font-weight: bold;
            font-size: 12px;
        }
    }

    .trophy {
        display: flex;
        align-items: center;
        float: right;

        img {
            width: 25px;
            height: 25px;
        }

        .score {
            color: #F6CB50;
            font-weight: bold;
            padding: 5px;
            border-radius: 3px;
            padding-left: 10px;
        }
    }

    .xp {

        width: 30px !important;
        height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }

        span {
            position: absolute;
            color: white;
            font-weight: bold;
            font-size: 12px;
        }
    }
}



.card {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-top: 2em;
    background-color: rgba(37, 28, 44, 0.829);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;

    h2 {
        margin: 0;
        color: white;
        font-family: Blockhead, 'arial', sans-serif;
    }

    .stats {
        width: 90%;
        height: 2em;
        margin: auto;
        border-radius: 50px;

        .content {
            background-color: green;
            height: 100%;
            width: 50%;
            overflow: hidden;
        }
    }

    .icon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .icon-card {
            width: 5.1em;
            height: 5.1em;
            padding: 5px;
            display: flex;
            justify-content: center;

            img {
                width: 90%;
            }
        }
    }

    .subtitle {
        margin: 5px 0px 5px 5px;
        color: #FFFADA;
        text-align: center;
        font-weight: bold;
    }

    .stat-container {
        display: flex;
        justify-content: space-around;

        .stat {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
    
            img {
                width: 40px;
                height: 40px;
            }
            h3 {
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }

    .person {
        position: absolute;
        bottom: -10px;
        left: -20px;
        height: 70%;
    }

    .title {
        position: absolute;
        top: 10px;
        left: 20px;
        margin: 0;
        color: #FFFADA;
    }

    .win {
        color: #7bed9f;
        text-shadow: #7bed9f 1px 0 10px;
    }

    .lose {
        color: #ff6b81;
        text-shadow: #ff6b81 1px 0 10px;
    }
    
    
}

.arena {
    width: 90%;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 2em;

    .arena-img {
        width: 80%;
        z-index: 0;
    }

    .league {
        width: 30%;
        position: absolute;
        z-index: 5;
        top: 27%;
        left: 36%;
    }

    .title {
        font-weight: bold;
        color: #FFFADA;
        margin-top: 0;
        background-color: rgba(37, 28, 44, 0.829);
        width: fit-content;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
    }
}

.card {

    margin-bottom: 2em;

    .statistics {
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .stat {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
            border: 1px solid #FFFADA;
            border-radius: 5px;
            padding: 8px;
            margin: 5px;

            p {
                margin: 0;
                margin-top: 2px;
            }

            img {
                width: 3em;
                height: 3em;
            }
    
            span {
                display: block;
                font-weight: bold;
                font-size: 15px;
                margin-top: 5px;
            }

        }

    }
}

.best-card {
    
    img {
        width: 40%;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
}

.quit {
    padding: 10px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: rgba(37, 28, 44, 0.829);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: auto;
    color: #ff6b81;
    margin-bottom: 10vh;
    margin-top: 3em;
    transition: all ease-in-out .1s;

    h3 {
        margin: 0;
        font-size: 12px;
        margin-left: 10px;
    }

    ion-icon {
        font-weight: bold;
        font-size: 20px;
    }
}

.quit:active {
    transform: scale(1.1);
}