<ion-content [fullscreen]="true" *ngIf="player && badge">

  <div class="header">
    <div class="logo">
      <img src="https://royaleapi.github.io/cr-api-assets/badges/{{badge.name}}.png" alt="badge">
      <div class="name">
        <p class="player">{{player.name}}</p>
        <p class="clan">{{player.clan.name}}</p>
      </div>
      <div class="xp">
        <img src="../../assets/imgs/experience.png" alt="xp">
        <span>{{player.expLevel}}</span>
      </div>
    </div>



    <div class="trophy">
      <img src="../../assets/imgs/trophy.png" alt="trophy">
      <p class="score">{{player.trophies}}</p>
    </div>
  </div>

  <div class="arena" *ngIf="arena">
    <img class="arena-img" src="https://royaleapi.github.io/cr-api-assets/arenas/arena{{arena.arena_id}}.png" alt="">
    <img class="league" src="https://royaleapi.github.io/cr-api-assets/arenas/league{{arena.league}}.png" alt="">
    <h2 class="title">{{arena.title}}</h2>
  </div>

  <div class="card">
    <div class="stat-container" style="margin-left: 7em;">
      <div class="stat">
        <img src="../../assets/imgs/crown-blue.png" alt="battle">
        <h3 class="win">{{player.wins}}</h3>
      </div>
      <div class="stat">
        <img src="../../assets/imgs/crown-red.png" alt="battle">
        <h3 class="lose">{{player.losses}}</h3>
      </div>
    </div>
    <h3 class="title">W / L</h3>
    <img class="person" src="../../assets/imgs/bandit.png" alt="bandit">
  </div>

  <div class="card">
    <p class="subtitle">Deck du moment</p>
    <div class="icon-container">
      <div class="icon-card" *ngFor="let card of player.currentDeck">
        <img src="{{card.iconUrls.medium}}" alt="{{card.name}}">
      </div>
    </div>
  </div>

  <div class="card best-card">
    <p class="subtitle">Carte préférée</p>
    <img src="{{player.currentFavouriteCard.iconUrls.medium}}" alt="">
  </div>

  <div class="card">
    <p class="subtitle">Statistiques</p>
    <div class="statistics">
      <div class="stat">
        <img src="../../assets/imgs/battle.png" alt="battle">
        <span>{{player.battleCount}}</span>
        <p>Combats</p>
      </div>
      <div class="stat">
        <img src="../../assets/imgs/experience.png" alt="level">
        <span>{{player.expLevel}}</span>
        <p>Level</p>
      </div>
      <div class="stat">
        <img src="../../assets/imgs/trophy.png" alt="max trophy">
        <span>{{player.bestTrophies}}</span>
        <p>Record trophées</p>
      </div>
      <div class="stat">
        <img src="../../assets/imgs/crown-red.png" alt="battle">
        <span>{{player.threeCrownWins}}</span>
        <p>3 couronnes</p>
      </div>
      <div class="stat">
        <img src="../../assets/imgs/cards.png" alt="cards">
        <span>{{player.totalDonations}}</span>
        <p>Donations</p>
      </div>
      <div class="stat">
        <img src="../../assets/imgs/challenge-classic.png" alt="battle">
        <span>{{player.tournamentBattleCount}}</span>
        <p>Tournois</p>
      </div>
      <div class="stat" *ngIf="player.leagueStatistics">
        <img src="../../assets/imgs/rank.png" alt="rank">
        <span>{{player.leagueStatistics.bestSeason.trophies}}</span>
        <p>Meilleure saison ({{player.leagueStatistics.bestSeason.id}})</p>
      </div>
    </div>
  </div>


  <div class="quit" (click)="presentAlert()">
    <ion-icon name="exit-outline"></ion-icon>
    <h3>Quitter</h3>
  </div>

</ion-content>