<ion-content [fullscreen]="true" *ngIf="battlelog">

  <div class="header">
    <img src="../../assets/imgs/battle.png" alt="battle">
    <h2>Journal d'activités</h2>
    <img src="../../assets/imgs/battle.png" alt="battle">
  </div>
  <ng-container>
    <div class="card" *ngFor="let battle of battlelog">
      <ng-container *ngIf="battle.team[0] && battle.opponent[0]">
        <div
          [ngClass]="{'header-card': true, 'win': battle.team[0].crowns > battle.opponent[0].crowns, 'lose': battle.team[0].crowns < battle.opponent[0].crowns }">
          <div
            [ngClass]="{'crown-container': true, 'win-c': battle.team[0].crowns > battle.opponent[0].crowns, 'lose-c': battle.team[0].crowns < battle.opponent[0].crowns }">
            <img class="blue-crown" src="../../assets/imgs/crown-blue.png" alt="blue crown">
            <img class="red-crown" src="../../assets/imgs/crown-red.png" alt="red crown">
            <div class="score">
              <h2>{{battle.team[0].crowns}} - {{battle.opponent[0].crowns}}</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="players-container">
            <div class="player">
              <img src="https://royaleapi.github.io/cr-api-assets/badges/{{battle.team[0].clan.badge.name}}.png"
                alt="badge">
              <div class="name team">
                <h2 class="player1">{{battle.team[0].name}}</h2>
                <p class="clan">{{battle.team[0].clan.name}}</p>
                <div class="trophy">
                  <img src="../../assets/imgs/trophy.png" alt="trophy">
                  <p>{{battle.team[0].startingTrophies}}</p>
                </div>
              </div>
            </div>
            <ng-container [ngSwitch]="battle.type">
              <img *ngSwitchCase="'challenge'" class="battle" src="../../assets/imgs/challenge-classic.png" alt="badge">

              <img *ngSwitchDefault class="battle" src="../../assets/imgs/battle.png" alt="badge">

            </ng-container>
            <div class="player player-2">
              <div class="name opponent">
                <h2 class="player2">{{battle.opponent[0].name}}</h2>
                <p class="clan">{{battle.opponent[0].clan.name}}</p>
                <div class="trophy">
                  <img src="../../assets/imgs/trophy.png" alt="trophy" class="opponent">
                  <p>{{battle.opponent[0].startingTrophies}}</p>
                </div>
              </div>
              <img src="https://royaleapi.github.io/cr-api-assets/badges/{{battle.opponent[0].clan.badge.name}}.png"
                alt="badge">
            </div>
          </div>
          <div class="cards-container">
            <div class="card-content">
              <ng-container *ngFor="let card of battle.team[0].cards">
                <img #img2 class="deck-card" src="{{card.iconUrls.medium}}" (error)="img2.src = '../../assets/imgs/error.png'" alt="">
              </ng-container>
            </div>
            <div class="card-content" style="justify-content: right;">
              <ng-container *ngFor="let card of battle.opponent[0].cards">
                <img #img class="deck-card" src="{{card.iconUrls.medium}}" (error)="img.src = '../../assets/imgs/error.png'" alt="">
              </ng-container>
            </div>
          </div>
          <div class="trophy-win" *ngIf="battle.team[0].trophyChange">
            <img src="../../assets/imgs/trophy.png" alt="trophy">
            <p>{{battle.team[0].trophyChange < 0 ? battle.team[0].trophyChange : '+' + battle.team[0].trophyChange}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <img class="person" src="../../assets/imgs/baby_dragon.png" alt="dragon">
  <img class="person2" src="../../assets/imgs/archers.png" alt="dragon">

</ion-content>